{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html>
    <head>
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">密碼重設頁面</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                {% if validlink %}
                <p>請輸入新密碼</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="重設密碼"/>
                    </form>
                {% else %}
                    <h1>密碼重設失敗</h1>
                    <p>該密碼重設連結已經失效，請嘗試重新操作一次</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
